**/.idea
**/.idea/
**/*.iml
**/.vs/
**/Library/
**/bin/
**/obj/
**/.objs/
**/Temp/
**/.svn/
**/*.csproj
**/*.csproj.user
**/*.symbols.zip
**/JetBrains.Rider.Unity.Editor.Plugin.Repacked.*
**/*.apk
**/*.ipa
*/*.pyc
*/*.spec
**/*~

**/$SVN/
$SVN/

.vscode
.idea

*UClient*/.vs/
*UClient*/Library/
*UClient*/bin/
*UClient*/obj/
*UClient*/Temp/
*UClient*/Assembly-CSharp.csproj.user
*UClient*/Assembly-CSharp.csproj
*UClient*/Assembly-CSharp-Editor.csproj
*UClient*/Assembly-CSharp-Editor-firstpass.csproj
*UClient*/Assembly-CSharp-firstpass.csproj
*UClient*/*.sln

*UClient*/Sirenix.OdinInspector.CompatibilityLayer.csproj
*UClient*/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
*UClient*/Unity.AssetBundleBrowser.Editor.csproj
*UClient*/Unity.AssetBundleBrowser.Editor.Tests.csproj

*UClient*/Assets/StreamingAssets/
*UClient*/Assets/StreamingAssets.meta

UClientCode/Project.Log/.vs/
UClientCode/Project.Log/Project.Log/bin
UClientCode/Project.Log/Project.Log/obj

UClientCode/Project.Hotfix/.vs/
UClientCode/Project.Hotfix/Project.Hotfix/bin/
UClientCode/Project.Hotfix/Project.Hotfix/obj/

UClientBuild/